.productdetails-main {
    margin-top: 90px;
    margin-left: 97px;
    padding: 16px;
}

.productdtls-brdcmbs {
    padding: 10px 0px 30px 0px;
}

.productdtls-paper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productdtls-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.productdtls-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}