.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  .custom-button {
    border-radius: 14px !important;
    height: 40px;
    background-color: #EDA415 !important;
    font-size: 11px !important;
    color: white !important;
  }

  .custom-button-add {
    border-radius: 7px !important;
    height: 35px;
    background-color: #EDA415 !important;
    font-size: 11px !important;
    color: white !important;
  }

  .custom-button-discard {
    border-radius: 7px !important;
    height: 35px;
    background-color: #d6d6d6 !important;
    font-size: 11px !important;
    color: black !important;
  }

  .main-home {
    margin-top: 90px;
    margin-right: 50px;
  }

  .card-home {
    min-height: 74vh;
  }

.pagination-home {
  margin-top: 20px;
}