.add-prdt-grid {
    display: flex;
    gap: 10px;
}

.add-prdt-inpt {
    display: none;
}

.add-ctrgy-dialog, .add-subctrgy-dialog {
    text-align: center;
}

.add-ctrgy-dialog-cnt,.add-subctrgy-dialog-cnt {
    width: 300px;
    text-align: center;
}

.add-ctrgy-dialog-actn, .add-subctrgy-dialog-actn {
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 16px;
}