.signin-container {
    height: 100vh;
    width: 100%;
    align-items: center;
    margin: 0;
    margin-bottom: -10px;
}

.signin-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

.signin-heading {
    font-family: 'montserrat';
    font-size: 34px !important;
    color: #EDA415 !important;
    margin-bottom: 10px !important;
}

.signin-input {
margin-left: 30px;
}

.forgot-password-link {
    font-family: 'montserrat';
    font-size: 13px;
    color: black;
}

.signin-btn {
    border-radius: 20px !important;
    width: 200px !important;
    height: 50px;
    margin-top: 25px !important;
    background-color: #EDA415 !important;
}

.signin-background {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-background-content {
    padding: 2px;
    text-align: center;
    color: white;
    font-family: 'monospace';
}

.signin-background-heading {
    font-family: 'montserrat';
    font-size: 34px;
}

.signin-background-text {
    font-size: 17px;
    margin-top: 10px;
}

.signin-background-button {
    margin-top: 9px;
    border-radius: 20px;
    width: 200px;
    height: 50px;
}

.signInContainer {
    height: 100vh;
    width: 100%;
    align-items: center;
    margin: 0;
    margin-bottom: -10px;
}

.signin-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

.signin-right-heading {
    font-size: 17px !important;
    margin-top: 10px !important;
}

.signin-box-right {
    font-family: monospace;
    color: white;
    text-align: center;
    padding: 2;
}

.signup-btn {
margin-top: 50px !important;
border-radius: 20px !important;
width: 200px !important;
height: 50px !important;
}