.signin-container {
    height: 100vh;
    width: 100%;
    align-items: center;
    margin: 0;
    margin-bottom: -10px;
}

.signin-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

.signin-heading {
    font-family: 'montserrat';
    font-size: 34px;
    color: #EDA415;
}

.signin-input {
    width: 100%;
    margin: normal;
}

.forgot-password-link {
    font-family: 'montserrat';
    font-size: 13px;
    color: black;
}

.signin-button {
    border-radius: 20px;
    width: 200px;
    height: 50px;
    margin-top: 25px;
}

.signin-background {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-background-content {
    padding: 2px;
    text-align: center;
    color: white;
    font-family: 'monospace';
}

.signin-background-heading {
    font-family: 'montserrat';
    font-size: 34px;
}

.signin-background-text {
    font-size: 17px;
    margin-top: 10px;
}

.signin-background-button {
    margin-top: 9px;
    border-radius: 20px;
    width: 200px;
    height: 50px;
}

.signup-main {
    height: 100vh;
    width: 100%;
    align-items: center;
    margin: 0;
    margin-bottom: -10px;
}

.signup-grid {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-left {
    padding: 2;
    text-align: center;
    color: white;
    font-family: monospace;
}

.signup-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

.signup-button {
    border-radius: 20px !important;
    width: 200px !important;
    height: 50px !important;
    margin-top: 25px !important;
    background-color: #EDA415 !important;
}

.signup-label {
    margin-left: 30px;
}

.signup-heading {
    font-size: 34px !important;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #EDA415;
}

.signin-heading-left {
    font-size: 17px;
    margin-top: 10px;
}

.signin-button {
    height: 50px !important;
    width: 200px !important;
    border-radius: 20px !important;
    margin-top: 50px !important;
}

.signin-welcome {
    font-size: 34px !important;
}