.appBar {
    background-color: #003F62 !important;
    margin: 0;
}

.searchContainer {
    width: 276px !important;
    background-color: white;
    border-radius: 9px;
    margin-left: 250px;
    display: flex;
    align-items: center;
}

.searchInput {
    height: 35px;
    font-size: 14px;
    margin-left: 10px;
    background-color: transparent;
    flex-grow: 1;
}

.searchButton {
    border-radius: 13px;
    height: 36px;
    background-color: #EDA415 !important;
}

.flexGrow {
    flex-grow: 1;
}
